<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
<head>
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        Hey there partner! <br />
        <strong>{{ boldmessage }}</strong><br />    

    </div>
    <div>
        <a href="/rango/about/">About</a><br />
        <a href="/rango/images/">New Images</a><br />
        <img style="width:600px;height:400px;", src="{% static 'images/rango-close-up.jpg' %}"
alt="Picture of Rango" /> <!-- New line -->
    </div>
    
    
    
</body>
</html>